/prboom2/ICONS/icons.aps
/prboom2/release
/build*
/release*
/romfs/*
!/romfs/dsda-doom.wad
/dsda-doom-3ds.smdh
/dsda-doom-3ds.elf
/dsda-doom-3ds.3dsx
/dsda-doom-3ds.lst

# SDL2 libraries to build
/extern/sdl2-sources/SDL2/*
/extern/sdl2-sources/SDL2_gfx/*
/extern/sdl2-sources/SDL2_image/*
/extern/sdl2-sources/SDL2_mixer/*
/extern/sdl2-sources/SDL2_ttf/*

!/extern/sdl2-sources/SDL2/PKGBUILD
!/extern/sdl2-sources/SDL2/3ds-initial-accelerated-renderer_2024-10-12.patch
!/extern/sdl2-sources/SDL2_gfx/PKGBUILD
!/extern/sdl2-sources/SDL2_image/PKGBUILD
!/extern/sdl2-sources/SDL2_mixer/PKGBUILD
!/extern/sdl2-sources/SDL2_ttf/PKGBUILD

# spec files
analysis.txt
levelstat.txt
/spec/support/wads/*
!/spec/support/wads/analysis_test.wad

# macOS
.DS_Store

# vcpkg
vcpkg_installed

# Visual Studio
/.vs/**
!/.vs/CMakeWorkspaceSettings.json
out
CMakeSettings.json
CMakeUserPresets.json

# Visual Studio Code
/.vscode/**
!/.vscode/extension.json
